# AVAILABLE COLORS:
# kMagenta
# kBlue
# kOrange
# kRed
#####################################################
#FORMAT: input root histo-name line-color area-color  
#####################################################
HISTOGRAM syst_results/DT/results/T1qqqqLL_DT_results.root xsecUL_Exp_T1qqqqLL_DT
EXPECTED syst_results/DT/results/T1qqqqLL_DT_results.root Exp_T1qqqqLL_DT ExpPlus_T1qqqqLL_DT ExpMinus_T1qqqqLL_DT kRed kOrange
EXPECTED2 syst_results/DT/results/T1qqqqLL_DT_results.root Exp_T1qqqqLL_DT ExpPlus2_T1qqqqLL_DT ExpMinus2_T1qqqqLL_DT kGray+1 kGray
# Preliminary Simulation or leave empty
PRELIMINARY Preliminary
# Lumi in pb 
LUMI 137000
# Beam energy in TeV
ENERGY 13
#
BOXES DT
